go 1.25.0

use (
	./proto
	./services/api-gateway
	./services/media-query-service
	./services/metadata-service
	./services/notification-service
	./services/saga-orchestrator
	./services/thumbnail-service
	./services/transcoding-service
	./services/upload-service
)
